.options-container{
    height: 100%;
}

.sub-title-container{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fa9a3b;
}


.sub-title{
    font-family: 'Exo 2', sans-serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.food-options-container{
    height: 100%;
    width: 100%;
}
