.header{
    background-color: #feb062;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
}

.header-link{
    margin-left: 4%;
}

.header-logo{
    width: 230px;
    height: 40px;
}