.recipe-in-list-container{
    background-color: rgb(255, 255, 255);
    height: 484px;
    width: 27vw;
    margin: 15px auto;
    border: 2px solid black;
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.26);
}

@media (max-width: 45rem){
    .recipe-in-list-container{
        width: 25vw;
        height: 479px;
    }
}

.recipe-and-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-pic-holder{
    height:140px;
    max-width: 27vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}

.recipe-picture{
    height: 130px;
    width: 18vw;
}

@media (max-width: 45rem){
    .recipe-picture{
        height: 120px;
        width: 22vw;
    }
}


.recipe-title-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    border-bottom: 2px solid black;
}

@media (max-width: 45rem){
    .recipe-title-holder{
        height: 35px;
    }
    
}

.recipe-title{
    text-align: center;
    margin: 0px 3px;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
}

@media (max-width: 45rem){
    .recipe-title{
        font-size: 10px;
    }
}



.ingredient-list-container{
    display: flex;
    height: 250px;
    width: 100%;
}

@media (max-width: 45rem){
    .ingredient-list-container{
        height: 260px;
    }
}

.ingredients-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2px 1px;
    width: 100%;

}

.ingredient-list-item{
    font-size: 10px;
    list-style-type: none;
    font-family: 'Josefin Sans', sans-serif;
}

@media (max-width: 45rem){
    .ingredient-list-item{
        font-size: 7.3px;
    }
}

.recipe-rest-info{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.recipe-cals{
    font-size: 14px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}